Package: com.kitsudo.unlockboard
Name: UnlockBoard
Description: Customize SpringBoard with many useful features for iOS.
  	 *  Tùy chỉnh SpringBoard với nhiều tính năng hữu ích cho iOS.
Maintainer: Kitsudo Repo
Author: Kitsudo
Section: Tweaks
SileoDepiction: /var/mobile/KitsudoRepo/info/sileodepictions/UnlockBoard.json
Depiction: /var/mobile/KitsudoRepo/info/depiction/UnlockBoard.html
Icon: https:/jtisvn/Kitsudo37.repo/icons/UnlockBoard.png
Depends: mobilesubstrate, preferenceloader, firmware (>= 14.0)
Architecture: iphoneos-arm64
Version: 1.0
Installed-Size: 1076
